<p>Select Minority Contractor Type:</p>
<ul data-role="listview" data-inset="true">
  
  <li>
    <%= link_to "Subcontractors", job_subcontractor_at_jobs_path(@job) %>
    <span class="ui-li-count"><%= @job.subcontractor_at_jobs.count %></span>
  </li>
  

  <li>
    <%= link_to "Suppliers", job_supplier_trucks_path(@job) %>
    <span class="ui-li-count"><%= @job.supplier_trucks.count %></span>
  </li>
  

  <li>
    <%= link_to "Truckers", job_subcontractor_trucks_path(@job) %>
    <span class="ui-li-count"><%= @job.subcontractor_trucks.count %></span>
  </li>
  

</ul>