<ul data-role="listview" data-inset="true" data-filter="true">
  
  <li>
    <%= link_to "Subcontractors", job_subcontractors_path(@job) %>
    <span class="ui-li-count"><%= @job.subcontractors.count %></span>
  </li>
  

  <li>
    <%= link_to "Suppliers (truck listing)", job_supplier_trucks_path(@job) %>
    <span class="ui-li-count"><%= @job.supplier_trucks.count %></span>
  </li>
  

  <li>
    <%= link_to "Truckers (subcontractor trucks)", job_subcontractor_trucks_path(@job) %>
    <span class="ui-li-count"><%= @job.subcontractor_trucks.count %></span>
  </li>
  

</ul>