<div class="negative-top-margin" />

<select id="subcontractor-filter" data-icon="search" data-iconpos="left">
   <option>All Subcontractors</option>
   <option>X</option>
   <option>Y</option>
   <option>Z</option>
</select>
<select id="trucker-sort-by" data-icon="resize-vertical" data-iconpos="left">
   <option value="div.driver_name" data-attr="data-lastname">Sort by Driver Name</option>
   <option value="div.plate">Sort by Plate Number</option>
</select>
<p />
<ul data-role="listview" id="sortlist" data-inset="true" 
data-filter="true" data-filter-placeholder="Enter name or plate...">
  <% @subcontractor_trucks.each do |subcontractor_truck| %> 
    <li>
    <%= link_to subcontractor_truck do %>
      <div class="driver_name" 
      data-lastname="<%= subcontractor_truck.driver_name.split(/(\s+)/).last %>">
        <%= subcontractor_truck.driver_name %>
      </div>
      <div class="plate" class="item_info"><%= subcontractor_truck.plate %></div>
      <div class="subcontractor_name" class="item_info"><%= subcontractor_truck.subcontractor.name %></div>
    <% end %>         
    </li>
  <% end %> 
</ul>


<script>


$(document).ready(function() {
  $('#trucker-sort-by').live('change', function(e) {
    option = $(e.target.selectedOptions);
    $('ul#sortlist>li').tsort(option.val(), option.data());
  });
  $('#trucker-sort-by').change();
});
</script>