<form>
<fieldset data-role="controlgroup" data-type="horizontal" > 
  <legend>Order by:</legend>
  <input type="radio" name="order-toggle" id="radio-choice-1" value="driver_name" 
  checked="checked" />
  <label for="radio-choice-1">Driver Name</label>

  <input type="radio" name="order-toggle" id="radio-choice-2" value="plate" />
  <label for="radio-choice-2">Plate#</label>
</fieldset>
</form>

<ul data-role="listview" id="sortlist" data-inset="true" 
data-filter="true" data-filter-placeholder="Enter name or plate...">
  <% @subcontractor_trucks.each do |subcontractor_truck| %> 
    <li>
    <%= link_to subcontractor_truck do %>
      <div class="driver_name" 
      data-lastname="<%= subcontractor_truck.driver_name.split(/(\s+)/).last %>">
        <%= subcontractor_truck.driver_name %>
      </div>
      <div class="plate" class="item_info"><%= subcontractor_truck.plate %></div>
      <div class="subcontractor_name" class="item_info"><%= subcontractor_truck.subcontractor.name %></div>
    <% end %>         
    </li>
  <% end %> 
</ul>


<script>


$(document).ready(function() {
  $('input#radio-choice-1').live('change', function() {
    $('ul#sortlist>li').tsort('div.driver_name', {attr: 'data-lastname'});
  });
  $('input#radio-choice-2').live('change', function() {
    $('ul#sortlist>li').tsort('div.plate');
  });
  $('input#radio-choice-1').change();
});
</script>