<ul data-role="listview">
  <li><%= "Plate number: #{@subcontractor_truck.plate}" %></li>
  <li><%= "Firm: #{@subcontractor_truck.subcontractor.name}" %></li>
</ul>

<div class="ui-grid-a image-gallery-grid">
  <% @subcontractor_truck.photos.each do |photo| %>
  <div class="ui-block-<%= cycle('a','b') %>">
    <%= link_to(photo) do %>
      <%= image_tag( photo.image.url(:medium), class: 'image-gallery-member' )%>
      <p class="ellipsis"><%= photo.caption %></p>
    <% end %> 
  </div>
  <% end %>
</div>