<div class="negative-top-margin">

<div data-role="collapsible" data-inset="false" data-theme="b" data-collapsed="false">
  <h1>Information</h1>
  <ul data-role="listview">
    <li>Foreman:
      <span class="nonbold"><%= @subcontractor_at_job.foreman_name %></span>
    </li>
    <li># of Employees present: 
      <span class="nonbold"><%= @subcontractor_at_job.employee_count %></span>
    </li>
    <li>Employee names: 
      <span class="nonbold">
        <% @subcontractor_at_job.employee_names.each do |n| %>
          <%= n %> 
        <% end %> 
      </span>
    </li>
    <li><%= check_icon(@subcontractor_at_job.foreman_directs_work) %> Foreman directs work </li>
    <li><%= check_icon(@subcontractor_at_job.being_supervised?) %>
        Is being supervised (own foreman / super / PM / other)
        <br/><br/>
        <i style="visibility: hidden;" class="font-awesome icon-check-empty" ></i>
        by:
        <span class="nonbold">
        <%= @subcontractor_at_job.supervised_by.present? ?
            @subcontractor_at_job.supervised_by : "__________" %> 
        </span>
    </li>
    <li><%= check_icon(@subcontractor_at_job.equipment_labeled?) %>
        Name or logo appears on equipment
        <br/><br/>
        <i style="visibility: hidden;" class="font-awesome icon-check-empty" ></i>
        <%= check_icon(@subcontractor_at_job.not_easily_removed?) %>
        Not easily removed or replaced
    </li>
    <li><%= check_icon(@subcontractor_at_job.employees_work_elsewhere?) %>
        Employees work with other firms
    </li>
  </ul>
</div>

<div data-role="collapsible" data-inset="false" data-theme="b" data-collapsed="false">
  <h1>Notes</h1>
  <%= @subcontractor_at_job.notes.present? ? 
      @subcontractor_at_job.notes : 'No notes entered' %>
</div>

<div data-role="collapsible" data-inset="false" data-theme="b" data-collapsed="false">
  <h1>Equipment</h1>
  <div data-role="collapsible-set">
    <% if @subcontractor_at_job.equipment.blank? %>
      <div>No equipment on record</div>
    <% end %> 
    <% @subcontractor_at_job.equipment.all.each do |anequipment| %> 
      <div data-role="collapsible">
        <h1><%= anequipment.title %></h1>
        <p> <%= anequipment.notes %></p>
      </div>
    <% end %> 
  </div>
</div>

<div data-role="collapsible" data-inset="false" data-theme="b" data-collapsed="false">
  <h1>Scopes</h1>
  <div data-role="collapsible-set">
    <% if @subcontractor_at_job.scopes.blank? %>
      <div>No scopes on record</div>
    <% end %> 
    <% @subcontractor_at_job.scopes.all.each do |scope| %> 
      <div data-role="collapsible">
        <h1><%= scope.title %></h1>
        <p> <%= scope.notes %></p>
      </div>
    <% end %> 
  </div>
</div>

</div>