<ul data-role="listview">
  
  <li data-role="list-divider">Information</li>
  <li><div><ul data-role="listview">
    <li><%=           "Foreman: #{@subcontractor_at_job.foreman_name}" %></li>
    <li><%= "# of Employees present: #{@subcontractor_at_job.employee_count}" %></li>
    <li><%= check_icon(@subcontractor_at_job.foreman_directs_work) %> Foreman directs work </li>
    <li><%= check_icon(@subcontractor_at_job.being_supervised?) %>
        Is being supervised (own foreman / super / PM / other)
        <br/>
        <i style="visibility: hidden;" class="font-awesome icon-check-empty" ></i>
        by:
        <%= @subcontractor_at_job.supervised_by.present? ?
            @subcontractor_at_job.supervised_by : "__________" %> 
    </li>
    <li><%= check_icon(@subcontractor_at_job.equipment_labeled?) %>
        Name or logo appears on equipment
    </li>
    <li><%= check_icon(@subcontractor_at_job.employees_work_elsewhere?) %>
        Employees work with other firms
    </li>
  </ul></div></li>
  
  <li data-role="list-divider">Notes</li>
  <li><%= @subcontractor_at_job.notes.present? ? 
          @subcontractor_at_job.notes : 'No notes entered' %>
  </li>

  <li data-role="list-divider">Equipment</li>
  <li><div><ul data-role="listview" data-inset="true">
    <% if @subcontractor_at_job.equipment.blank? %>
      <li>No equipment on record</li>
    <% end %> 
    <% @subcontractor_at_job.equipment.all.each do |anequipment| %> 
      <li><%= anequipment.title %></li>
    <% end %> 
  </ul></div></li>
  
  <li data-role="list-divider">Scopes</li>
  <li><div><ul data-role="listview" data-inset="true">
    <% if @subcontractor_at_job.scopes.blank? %>
      <li>No scopes on record</li>
    <% end %> 
    <% @subcontractor_at_job.scopes.all.each do |scope| %> 
      <li><%= scope.title %></li>
    <% end %> 
  </ul></div></li>

</ul>