<!DOCTYPE html> 
<html> 
<head> 
<title>Judlau Compliance</title> 
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <%= javascript_include_tag "application" %>
  <% if !rails_admin_view? %> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" 
      href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js">
    </script>
  <% end %> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head> 
<body> 

<div data-role="page">

  <div data-role="header">
    <% if @back_target %>
      <%= link_to "Back", @back_target, data: { icon: 'back', direction: 'reverse' } %>
      <% end %>
    <h1>Judlau Compliance</h1>
  </div>

  <div data-role="content"> 
    <%= yield %>
  </div>

  <div data-role="footer" data-position="fixed">
    <h1><%= @title %></h1>
  </div>

</div><!-- /page -->

</body>
</html>